<%# see: app/views/custom_fields/formats/_date.html.erb %>
<p><%= f.text_field(:default_value, :size => 10) %>
<%#= calendar_for('custom_field_default_value') %>
<p><%= f.text_field :url_pattern, :size => 50, :label => :label_link_values_to %></p>
